<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
          body {
            padding: 60px 0px;
          }
    </style>
</head>
<body>
    <div class="container well">
        <h1>pain.002 generator</h1>
        <hr />
        <form class="form-horizontal" action="/upload" method="post" enctype="multipart/form-data">
          <div class="form-group">
              <label for="pain8-file-select" class="col-sm-3 control-label">pain.008 file: </label>
              <div class="col-sm-9">
                  <input class="form-control" type="file" id="pain8-file-select" name="pain8-upload" />
              </div>
          </div>
          <div class="form-group">
              <label for="pain8-version" class="col-sm-3 control-label">pain.008 schema version: </label>
              <div class="col-sm-9">
                  <input class="form-control" type="text" id="pain8-version-text" name="pain8-version" value="pain.008.001.02" />
              </div>
          </div>
          <div class="form-group">
              <label for="mappings-file-select" class="col-sm-3 control-label">Reason mappings CSV file: </label>
              <div class="col-sm-9">
                  <input class="form-control" type="file" id="mappings-file-select" name="mappings-upload" />
                  <p class="help-block">Optional - if provided must contain comma-separated entries mapping EndToEndId's to reject reason codes.</p>
              </div>
          </div>
          <div class="form-group">
              <label for="default-reason-text" class="col-sm-3 control-label">Default reason code: </label>
              <div class="col-sm-9">
                  <input class="form-control" type="text" id="default-reason-text" name="default-reason" />
                  <p class="help-block">Optional - if a mapping is not provided, this default reason code will be used for all collections, instead of randomly assigned codes.</p>
              </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <input type="checkbox" id="compact-checkbox" name="compact" checked> Compact pain.002</input>
                <p class="help-block">If checked, a compact, non-indented pain.002 file will be built.</p>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <input class="btn btn-primary" type="submit" value="Submit" />
            </div>
          </div>
        </form>
    </div>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>
